version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: pip
    directory: /apps/api
    schedule:
      interval: weekly

  - package-ecosystem: terraform
    directory: /infra
    schedule:
      interval: weekly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
